yacs>=0.1.6
pyyaml>=5.1
av==8.0.2
termcolor>=1.1
simplejson
tqdm
psutil
matplotlib>=3.1.1
sklearn
tensorboard
tabulate
termcolor>=1.1
yacs>=0.1.6
fvcore>=0.1.1
markdown>=2.6.8
werkzeug>=0.11.15
kiwisolver>=1.1.0
portalocker
